<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Whooshingby</title>
  </head>
  <body>
    <header>
      <h1>Whooshingby</h1>
    </header>

    <section>
      <form>
        <label>Task
          <input type="text" data-task>
        </label>
      </form>
      <button type="button" onclick="completed_task()">I did it!</button>
    </section>

    <section>
      <table border="1">
      <caption>Recent Tasks</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Time completed</th>
            <th>Reward</th>
            <th>Time granted</th>
          </tr>
        </thead>
        <tbody data-tasks>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
    </section>

    <section>
      <h1>Reward Percentages</h1>
      <div data-reward-percentages></div>
    </section>

    <section>
      <h1>Judge Percentages</h1>
      <div data-judge-percentages></div>
    </section>

    <footer>
      <p>Copyright Douglas Squirrel 2013</p>
    </footer>

    <script type="text/javascript" src="kropotkin-js"></script>
    <script type="text/javascript" src="display_tasks.js"></script>
    <script type="text/javascript" src="display_rewards.js"></script>
    <script type="text/javascript" src="completed_task.js"></script>
    <script type="text/javascript" src="reward_percentages.js"></script>
    <script type="text/javascript" src="judge_percentages.js"></script>
    <script type="text/javascript">
      report_deployment('home.html');
    </script>
  </body>
</html>
